* {
	border-radius: 0 !important;
}

.table {
	table-layout: fixed;
}

/* ################################### */
/* Footer */
/* ################################### */
footer {
	font-size: 14px;
	color: #ffffff;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 2;
}
/* ################################### */
/* END OF Footer */
/* ################################### */

/* ################################### */
/* About Page */
/* ################################### */
.aboutTitle {
	margin-top: 30px;
	text-align: center;
}

.aboutDataRowContainer {
	margin-top: 80px;
}
/* ################################### */
/* END OF About Page */
/* ################################### */

/* ################################### */
/* User Form */
/* ################################### */
.addUserFormBtnsContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.formCheckboxContainer {
	display: flex;
	align-items: center;
	padding-top: 17px;
}
/* ################################### */
/* END OF User Form */
/* ################################### */

.editUserBtn {
	color: #0057bf;
}

.deleteUserBtn {
	color: #d10000;
}

/* ################################### */
/* Buttons */
/* ################################### */
.btnClassGrey {
	background-color: #343a40;
	border: 1px solid #343a40;
	color: #ffffff;
}

.btnClassGrey:hover {
	background-color: #ffffff;
	border: 1px solid #343a40;
	color: #343a40;
}

.btnClassRed {
	background-color: #d10000;
	border: 1px solid #d10000;
	color: #ffffff;
}

.btnClassRed:hover {
	background-color: #ffffff;
	border: 1px solid #d10000;
	color: #d10000;
}

.btnClassBlue {
	background-color: #0057bf;
	border: 1px solid #0057bf;
	color: #ffffff;
}

.btnClassBlue:hover {
	background-color: #ffffff;
	border: 1px solid #0057bf;
	color: #0057bf;
}

.btnClass span {
	margin-left: 7px;
}

.btn:focus {
	box-shadow: none;
	outline: none;
}

.tableBtn {
	background-color: transparent;
	border: 0;
}
/* ################################### */
/* END OF Buttons */
/* ################################### */

/* ################################### */
/* Modal */
/* ################################### */
.modal-open .modal {
	overflow-y: hidden !important;
}

.modal-header {
	width: 99.95% !important;
	align-items: center !important;
	padding: 10px;
}

.modal-content,
.modal-footer {
	width: 99.95% !important;
}

.modal-title i {
	margin-right: 10px;
	font-size: 20px;
	color: #0057bf;
}

.modal-title span {
	font-size: 15px !important;
}

.modal .close {
	padding: 10px 1rem !important;
	margin: -1rem -1rem -1rem auto;
	color: red !important;
	font-size: 29px !important;
	opacity: 1 !important;
}

.modal .biggerTextModalBody {
	font-size: 16px;
}
/* ################################### */
/* END OF Modal */
/* ################################### */
